#Ignore all files and folders.
/*

#Except the selected files & folders
#!Assets/
#!ProjectSettings/
#!UserSettings/
#!VersionHistory/
#!MusicalKnights*/
!Prereleases/
!.gitignore
!.gitattributes
#!README.md
!*.todo